services:
  frontend:
    build:
      context: ./frontend
    image: feedback-frontend
    ports:
      - "80:8080"
    env_file:
      - ./frontend/.env
    depends_on:
      backend:
        condition: service_healthy

  backend:
    build:
      context: ./backend
    image: feedback-backend
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 5s
      timeout: 3s
      retries: 5

#services:
#  frontend:
#    build:
#      context: ./frontend
#      dockerfile: Dockerfile
#    image: feedback-frontend
#    ports:
#      - "80:80"
#    depends_on:
#      - backend
#
#  backend:
#    build:
#      context: ./backend
#    image: feedback-backend
#    ports:
#      - "3000:3000"
#    env_file:
#      - ./backend/.env
#
#volumes:
#  pgdata:
