@import "tailwindcss";

:root {
  font-family: Garamond;
  line-height: 1.5;
  font-weight: 100;
  font-variant: normal;
  letter-spacing: 1px;

  color: black;
  background-color: white;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

button {
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
